*{
     padding:0px;
	 margin:0px;
	 box-sizing:border-box;
}
body{
	background-color:#f5f5f5;
}
.container{
	width:1150px;
	margin:0 auto;
	background-color:#fff;
	padding:20px 30px;
	
}
.header img{
	border:3px solid black;
	width:80px;
    height:80px;
    border-radius: 50px;
    margin-top:20px;
	margin-left:30px;
}


.menu ul li a{
	  
	  text-decoration:none;
	  color:black;
} 
.userimg{
	width:13%;
}
.ur{
	width:88%;
}

.hdn1{
	
    border-bottom:1px solid lightgrey;
	padding-bottom:10px;
	margin-bottom:10px;
}
.header .menu ul{
	list-style:none;

}
.menu ul li a{
	color:#999;
	
}

.header {
	display:flex;
	align-items:center;
	
}
.header .menu ul li{
	display:inline-block;
	margin:0 15px;
}
.menu ul li a:hover{
	color:black;
}

.container2{
	border:4px solid;
	background-color:black;
	padding:40px 15px;
	margin-top:10px;
	text-align:center;
	margin-left:25px;
	
}
.bdr p{
	color:white;

}
body{
	font-family: 'Roboto', sans-serif;
}
	
h3{
	color:#999;
	padding-bottom:10px;
}
.bdr a{
	text-decoration:none;
	color:#999;
	background-color:black;
	border:1px solid white;
	text-align:center;
	padding:10px;
	margin-bottom:20px;
}

.p1{
	
	font-size:20px;
	font-weight:bold;
}
.p2{
	padding-top:10px;
	margin-bottom:20px;
}

.data{
	border-top:1px solid lightgrey;
	margin-top:20px;
	margin-left:20px;
	padding:10px;
}
.skill{
	padding:10px;
	
}
.course ul li{
	list-style:none;
	display:inline-block;
	padding:30px;
	margin-top:10px;
}
.education{
	border-top:1px solid lightgrey;
	margin-top:30px;
	
	
}
.skl{
	display:flex;
	align-items:center;
}
.ct2{
	display:flex;
	align-items:center;
}
.ct{
	padding:10px;
}
.part{
	display:flex;
	align-items:center;
	justify-content:space-between;

}
.part1{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
.part11 p{
	
	border:1px solid;
	border-color:white;
	padding:20px;
	background-color:lightgrey;
	
}
.parta{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.part2{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
.part22 p{
	
	border:1px solid;
	border-color:white;
	padding:20px;
	background-color:lightgrey;
}
.partb{
	display:flex;
	align-items:center;
	justify-content:space-between;
}
.part3{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
.part33 p{
	
	border:1px solid;
	border-color:white;
	padding:20px;
	background-color:lightgrey;
}
.project{
	border-top:1px solid lightgrey;
	
}
.pict{
	display:flex;
	align-items:center;
}
.word{
	padding:10px;
}
.pr1{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
.pr2{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
.pr3{
	border-left-style:solid;
	margin:20px;
	padding:5px;
}
#ft{
	
	font-size:12px;
}
.image{
	margin-top:10px;
	margin-bottom:10px;
	
}
.image1{
	margin-right:20px;
	
}
.image2{
	margin-right:20px;
}
.image3{
	margin-right:20px;
}
.image4{
	margin-right:20px;
}
.image5{
	margin-right:20px;
}
.image6{
	margin-right:20px;
}
.image7{
	margin-right:20px;
}

.education h2{
	margin:10px;
}
.project h2{
	margin:10px;
}
.image{
	display:flex;
}
span a{
	text-decoration:none;
	color:black;
}